<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>S01L13_JSP_configuration_in_deployment_descriptor</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<description></description>
  	<display-name>Demo</display-name>
  	<servlet-name>Demo</servlet-name>
  	<servlet-class>mao.linatrix.servlet.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Demo</servlet-name>
  	<url-pattern>/TESTING</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<description></description>
  	<display-name>Hello JSP</display-name>
  	<servlet-name>Hello JSP</servlet-name>
  	<jsp-file>/HelloJSP.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Hello JSP</servlet-name>
  	<url-pattern>/HelloJspPattern</url-pattern>
  </servlet-mapping>

</web-app>